.base64-page {
    margin-top: 2rem;

    @include media-breakpoint-up(sm){
        margin-top: 3rem;
    }

    h1 {
        font-size: 1.5rem;

        @include media-breakpoint-up(sm){
            font-size: 2.5rem;
        }
    }

    .heading-caption {
        max-width: 550px;
        margin: 0 auto 2rem;
        font-size: 15px;

        @include media-breakpoint-up(sm){
            font-size: 16px;
            margin: 0 auto 3rem;
        }
    }
}

.base64-page {
    .base64-page--inner {
        display: flex;

        .drag-and-drop--container {
            max-width: 50%;
            flex: 1 0 50%;
            width: 100%;
        }

        .result--container {
            display: flex;
            flex-direction: column;
            max-width: 50%;
            flex: 1 0 50%;
            width: 100%;
            padding-left: 1rem;

            textarea {
                font-size: 14px;
                height: 100%;
                padding: 0.5rem;
                color: $scorpion;
                border: 1px solid $ghost;
                border-radius: 0.25rem;
            }

            .button-container {
                display: flex;
                align-items: center;

                .btn {
                    white-space: nowrap;
                }
                .reset {
                    font-size: 14px;
                    text-decoration: underline;
                    color: $silver_chalice;
                    cursor: pointer;
                }
            }
        }
    }
}
