.homepage {
    .panel-section {
        display: flex;
        flex-wrap: wrap;
        max-width: 400px;
        margin: 0 auto;

        @include media-breakpoint-up(sm){
            max-width: 400px;
        }

        @include media-breakpoint-up(md){
            max-width: initial;
        }

        .info-container {
            flex: 1 0 100%;
            max-width: 100%;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-bottom: 3rem;

            @include media-breakpoint-up(md){
                flex: 1 0 50%;
                max-width: 50%;
                text-align: left;
                padding: 3rem;
                margin-bottom: 0;
            }

            @include media-breakpoint-up(lg){
                padding: 2rem 5rem;
            }

            h2 {
                font-size: 2rem;
                margin-bottom: 1rem;

                @include media-breakpoint-up(sm){
                    font-size: 2.25rem;
                }
            }

            p {
                font-size: 15px;
                color: $scorpion;

                @include media-breakpoint-up(sm){
                    font-size: 18px;
                }
            }
        }

        .image-container {
            flex: 1 0 100%;
            max-width: 100%;

            @include media-breakpoint-up(md){
                flex: 1 0 50%;
                max-width: 50%;
                padding: 3rem;
            }

            @include media-breakpoint-up(lg){
                padding: 2rem 5rem;
            }

            img {
                display: block;
                width: 60%;
                margin: 0 auto;

                @include media-breakpoint-up(sm){
                    width: 100%;
                }
            }
        }
    }
}
