a {
    color: $jaguar;

    &:hover {
        color: darken($mineshaft, 15);
        text-decoration: none;
    }

    &.link--red {
        color: $red;
    }
}

.btn {
    &.btn--blue {
        background-color: $bayofmany;
        color: $white;
    }

    &.btn--green {
        background-color: $chateau_green;
        color: $white;
    }

    &.btn--red {
        background-color: $red;
        color: $white;
    }
}
