legend,
label,
.label {
    font-size: 15px;
    margin-bottom: 0.5rem;
}

legend {
    font-size: 18px;
}

.help-text {
    font-size: 13px;
    color: $silver_chalice;
}

.invalid-feedback {
    color: $red;
}
