.convert-options--container {
    position: relative;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 1rem;
}

.upload-button-container {
    display: flex;
    align-items: center;
    margin-top: 1rem;

    &.disabled {
        cursor: not-allowed;
    }

    button {
        &.disabled {
            pointer-events: none;
        }
    }
}
