.drag-and-drop {
    .drag-and-drop--box {
        position: relative;
        background-color: $gallery;
        height: 400px;
        cursor: pointer;
        border-radius: 0.25rem;

        @include media-breakpoint-up(sm){
            height: 600px;
        }

        &.disable {
            pointer-events: none;
        }
    }
}

.drag-and-drop {
    .drag-and-drop--overlay {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5;
        height: 100%;
        width: 100%;
        pointer-events: none;
        transition: background-color 0.2s ease;

        &.active {
            background-color: rgba($black, 0.15);
        }

        &.disable {
            background-color: rgba($white, 0.85);
        }
    }
}

.drag-and-drop {
    .drag-and-drop--info {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        pointer-events: none;

        .icon-upload {
            display: block;
            background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkCAYAAABw4pVUAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyVpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDYuMC1jMDAyIDc5LjE2NDM1MiwgMjAyMC8wMS8zMC0xNTo1MDozOCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIDIxLjEgKE1hY2ludG9zaCkiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6Q0RBNDU3MTI2RkE0MTFFQUI4QkVCODY2NjRCNDE5NkMiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6Q0RBNDU3MTM2RkE0MTFFQUI4QkVCODY2NjRCNDE5NkMiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDpDREE0NTcxMDZGQTQxMUVBQjhCRUI4NjY2NEI0MTk2QyIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDpDREE0NTcxMTZGQTQxMUVBQjhCRUI4NjY2NEI0MTk2QyIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/Ppng5MgAAAR2SURBVHja7J1ZaBNBGMdnm1SD0VSl2pZqtYI++OBDBRUtqKBCFZGCFwgeSOtVRF/Eel94gKLgieJVr4r3k6hVpB4IFdSKYBBLQbSgqFQpWpImfp87xRia2TbZTbLJ/w9/2mQmO5vvl905MjPRgsGggJJHGQgBgEAAAiAQgKSGnA0NDXZ/D3nkkfxeyK/J7+NVMLdQc3NzhdvtNg9ITU2NnWHMJh8mZ8vHLeTN5H3xKNzv94uSkhJRWFhoHpDMzEy7whhHriJ3D3mOP6p7yU3ki1afgKZpIiPD3Lu+XeuQAvLlMBihOkEejUo9PuohYeTHmAdATNJx8phO5BtEria7AMQ6bSDP60L+YvIRALFGM8nbo3jdIvIaADFXReTTMbx+D3kGgJijHPIVcs8Yj3OWPAJAYlM38iXyEBOOlSXBZgNI9DpInmji8YaRLwh9mAVAuqjV5HILjjuFvB9AuqapQh8CUem+Io07hb8V6RXkFQDSOQ0nnzc4t10GwM6RVxqUc4A8GUDU6isr3j6KPPfI6wx64B6hj2edVORxyvpkKIBEPpcqeYVE0ruQnrpqmNoh//JtqVaRrx/5qgQIIGHiW9A0RfoP8izyF/lYNX+pPa2VPJfcqMjLfZMzZA1A/qlctqpUWkh+FcWxmyTIFkWeUvJOANE1gXzIIE8l+UYMZTwnLzbIs5a8IN2BcA+82qA+4CGP3SaUxU3hLQZ5jgn9m8i0BNJbtqhyFHmekJeaWOZWoQ/FRJJLghucjkD401qkSP9AnmPQwYtGZeQ6RXq+vIVq6QSEb1HTFem/hD6j5KMFZbfIYzcp8vD4Wf90AhI0aLZyq+uZheU3yquvFT11XX5Fq2mHHDqxWo/IyyOk3SV/Trc6ZBv5ZthVc5S8MY7ncIq8Pqye4oZEhcEVbJkS+b3AT9khG0seIIdFXiTgPLhDeE322L8KfajFn6igJMMXNU+T4By80uipQwACIBCAAAiUOq0s+wbP6RR1dXWivr4eQJJBvGCnublZmLn5AoDEIAaBFVSo1CEAARAIQCAAARAIQAAEAhAAgQAEQCAAgQAEQKDogfD/HoQk7uKYO8KB8Gzzl+S3Ql+QX4w4Wa5RQp/UzTHntZM8n/jvV7irxP9bTeTJzLxr2xvEzRLx2vg7Ql9F1h5z3tfFzVfIpg5ewFshLUPcLFNZCIxQVTKQSLsmDETcLFNBhOezVK2sAOJmmQLRNHvxSy/WKZiK/RAtFftXdgaiWqH7CUDiL15r/qCD53lF1mMAib98Qt/phzcr4xWzvEsQb9PB+/u22vVN2X1uL0OYL5vuXKd8s3ttnyqTrb+nSvMLo70AAgEIgEAAAiAQgAAIBCAAAgEIBCAAApkOxI/wWKaIsVUNv/NUlVLEzhIVRgOEf235OmKHOgRAoOQCghmKSSKHwxFgILcQisSLN0PzeDy3nT6fj2e59yJPQlgSp0AgUNvW1rZE83q97beu8ULfgx2Kv3im5UOXy9WmmbmBI4RWFoBAAAIgEIBAUn8EGAC6zMFFSkacTwAAAABJRU5ErkJggg==");
            background-position: center;
            background-size: cover;
            width: 20px;
            height: 20px;
            margin: 0 auto 0.5rem;
        }

        h3,
        h4 {
            font-weight: 400;
            text-align: center;
            color: $silver_chalice;
            padding: 0 1rem;
        }

        h3 {
            font-size: 1rem;
            margin-bottom: 0.5rem;
        }

        h4 {
            font-size: 0.75rem;
            margin-bottom: 0;
        }
    }
}

.drag-and-drop {
    .drag-and-drop--inner {
        display: flex;
        flex-wrap: wrap;
        align-content: baseline;
        height: 100%;
        padding: 0.5rem;
        border-radius: 0.25rem;

        .image-container {
            position: relative;
            padding: 0.5rem;
            cursor: pointer;

            &:hover {
                .overlay {
                    display: flex;
                }
            }

            .overlay {
                position: absolute;
                z-index: 1;
                top: 0.5rem;
                bottom: 0.5rem;
                left: 0.5rem;
                right: 0.5rem;
                display: none;
                justify-content: center;
                align-items: center;
                background-color: rgba($white, 0.7);
                border-radius: 0.25rem;

                p {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    font-size: 2rem;
                    color: $black;
                    margin-bottom: 0;
                    margin-top: 1rem;

                    .cross {
                        background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAUIAAAFCCAYAAACErdScAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyVpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDYuMC1jMDAyIDc5LjE2NDM1MiwgMjAyMC8wMS8zMC0xNTo1MDozOCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIDIxLjEgKE1hY2ludG9zaCkiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6RUNFNDZGNkY5REZBMTFFQUFEODBFRUY1ODk2NUVDNjAiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6RUNFNDZGNzA5REZBMTFFQUFEODBFRUY1ODk2NUVDNjAiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDpFQ0U0NkY2RDlERkExMUVBQUQ4MEVFRjU4OTY1RUM2MCIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDpFQ0U0NkY2RTlERkExMUVBQUQ4MEVFRjU4OTY1RUM2MCIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PmGkkO0AAAiVSURBVHja7N1PiOYDHMfxx/pXuyFKSNafLdafG3GybaREYl3M7DopR1F7dlCSs6JcJbnSHuXfhQNOimJXaGVdkLV2xjC+k2dq0rSe2ef7zPy+832969Ncv888z/PqmT3sMxrNtitGktTYksdjC+OfkjStJfMVD1+KLY9/wlBShiWPVTx8GYaSEi1ZjD1c8XAYSsq0ZOXP5IcqHg5DSZmWrGD4YMXDYSgp05JTsXsrHg5DSZmW/B67p+LhMJSUackKhvsrHg5DSZmWnIztq3g4DCVlWvJr7K6Kh8NQgmCmJb/E7qx4OAwlCGbu59gdFQ+HoQTBbAxvr3g4DCUIZu6n2G0VD4ehBMHMnYjdWvFwGEoQzMbwloqHw1CCYOZ+jO2teDgMJQhm7vvYnoqHw1CCYOa+i13/f4cfGuDhMJQgmLlvY9dVRBCGEgQz91Xs6v8e/sjo3//ocLnAFsf3ShpeB8bv0QqWfB67fPXwC2NHixwOQwmCWfs4dsnaB3BN7OtiGC6N/5yX5M/hje7d2M71HggMJbVGEIaSIAhDSRCEoSQIwlASBGEoCYIwlARBGEqCIAwlQXASDI/CUIJgVwRX2w1DCYKdEYShBEEIwlCCIARhKG3nDkEQhhIEIQhDCYIl9t7QEIShBMHNRnDXkH+hMJQg2BpBGEoQhCAMJQhCEIYSBCEIQwmCEIShBEEIwlCCIARhKEEQgjCUIAhBGEoQhCAMJQhCEIYSBCG47TE86L0mCEIQhjAUBCEIQxgKghCEIQwFQQjCEIaCIARhCENBEIIwhKEgCEEYwlAQhCAMYSgIQhCGMBQEIQhDGAqCEIQhDAVBCMIQhoIgBGEIQ0EQgjCEoSAIQRjCUBAUDGGopA5CUDAUBCEoGAqCEBQMBUEICoaCIAQFQ0EQgoKhIAhBwVAQhKBg6KmDIAQFQxhCEIKCIQwhCEHBEIYQhKBmhuExGAqCEIQhDAVBCAqGgiAEBUNBEIIqjuG8pw6CEBQMYQhBCAqGMITgVHsfgoKhICjBUBCUYCgISjAUBCUYCoISDAVBCYaCoARDQVCCoSAowVAQlGAoCEowFAQlGAqCEgy1pnkISjCEIAQlGEIQghIMIQhBCYYQhKAEQwhCUIIhBCEowRCCEJRgCEEISjCchyAEJRhuLwwhKMGwNYYQlGDYGkMISgPsWhhCEIISDCEIQQmGEISgVB3DOQhCUILhMDGEoATD1hhWQ/ADCEowhKAkGEJQEgwhKAmGEJQEQwhKgiEEJcEQgpJgCEFJMISgJBhCUBIMISgJhhCUBEMISmqF4WLswBke0xwEJXXGEIKSWmNYDcGPYhd76UkwzMIQgpLSuil2vBiGp8ercu8nsUu91CSfDLvOJ0EJhhD00pJgCEFJMISgJBhCUBIMISgJhhCUVB7Db0AHQQmGMISgJBhCUBIMISgJhhCUBEMISmqPIQQltcYQgpJaYwhBSa0xhKCk1hhCUFJrDCEoqTWGEJTUGkMISkprb+xEMQT/jO3x1GmSdvgVaIJuHtX7CsvzYkdiV3r6JE3byhewL47q/hvhFzCU1BlBGEqCIAwlQRCGkiAIQ0kQhKEkCMJQEgRhKAmCMJQEQRhKgiAMJUEQhpIgCENJEIShJAjCUIIgBGEoQdBgKEHQYChB0GAoQdBgKEHQYCht9x6InS6EykLsqdgPxTD8NHaZl5vkk+C0OxW7b3x7xS+R98lQgmAagiMYSoIgDCVBEIaSIAhDSRCEoSQIwlASBGEoCYIwlARBGEqCIAwlQRCGkiAIQ0kQhKEkCMJQgiAEYShBEIIwlCAIQRhK/XoUgjD0NlDn5mJLEIQhDAVBCMIQhoIgBGEIQ0EQgjCEoSAIQRjCUBCEIAxhKAhCEIYwFAQhCEMYCoIQhCEMBUEIwhCGgiAEYQhDQRCCMJwEw6u8zQRBCMIQhoIgBGEIQ0EQgjCEoSAIQRjCUBCEIAxhKAhCEIYwFAQhCEMYCoIQhCEMBUEIwhCGgiAEYQhDbV7zEIRh7BgMBUEIwhCGgiAEBUNBEIKCoSAIQcFQEISgYCgIDmonY/s8bTCEoSAoGMJQEBQMYSgICoYwFAQFQxgKgoIhDAVBwRCGgqBgCENBUDCEoSAoGMJQEBQMYSgICoYwFAQFQxgKgoIhDAVBwRCGgqBgCEMIQlAwhCEEISgYwhCCEBQMYQhBCAqGMIQgBAVDGEIQgoIhDCE4sP0GQcFQEJRgKAhKMBQEJRgKghIMBUEJhoKgBENBUIKhICjBUBCUYAhDCEowhCEEJRjCEIISDGEIQQmGMISgBEMYQlCCIQwhKMGwN4YHISjBsDOGEJRg2BpDCEowbI0hBCUYtsYQghIMW2MIQQmGrTGEoATD1hhWRPBu7w/BEIYQlGAIQwhKMIQhBCUYwhCCEgxhCEEJhjCEoARDGEJQgiEMISgJhhCUBEMISoIhBCXBEIKSymP4ZSaGEJTUGkMISmqNIQQltcYQgpJaYwhBSa0xhKCk1hhCUFJrDCEoqTWG+2MLhY7/I3a/1500uG6MHS+G4WexC1aO3xl7xydBSc0+Gf4Ve2Lt8RUwhKBUo90FMPw79uR6xw8ZQwhKMMzc02c6fogYQlCCYeaemeT4IWEIQQmGmTu8keOHgCEEJRhm7tmzOX4rMYSgBMPMPTfN8VuBIQQlGGbu+YzjNxNDCEowzNwLmcdvBoYQlGCYuRdncfwsMYSgBMPMvRQ7Z1bHzwJDCEowzNzLs0RwFhhCUIJhJoavbAaCmRhCUFImhq9uJoIZGEJQUiaGr8V2bNXxZ4MhBCVlYvh67NytPn4jGEJQUiaGbwwBwY1gCEFJmRi+OSQEJ8EQgpIyMXwrdv5Qj18PQwhKysTw7dH4e0aG3FoMISgpE8MjFRBc7aIxhr5tTtK0rX473oexXX4dkrp2w/gD1kz6R4ABADPyro9iQUixAAAAAElFTkSuQmCC");
                        background-position: center;
                        background-size: cover;
                        height: 20px;
                        width: 20px;
                    }

                    .remove {
                        font-size: 0.7rem;
                    }
                }
            }

            .image {
                position: relative;
                background-position: center;
                background-size: cover;
                height: 100%;
                border-radius: 0.25rem;

                .image-filesize,
                .image-dimensions {
                    position: absolute;
                    background-color: $white;
                    font-size: 11px;
                    padding: 0 0.25rem;
                    border-radius: 0.25rem;
                }

                .image-filesize {
                    left: 5px;
                    bottom: 5px;
                }

                .image-dimensions {
                    left: 5px;
                    right: auto;
                    top: 5px;
                    bottom: auto;

                    @include media-breakpoint-up(lg){
                        left: auto;
                        right: 5px;
                        top: auto;
                        bottom: 5px;
                    }
                }
            }
        }
    }
}
