.header {
    height: 50px;
    box-shadow: 0 10px 20px rgba($black, 0.02);
}

.header {
    .logo-container {
        height: 100%;
        .logo {

            img {
                display: block;
                height: 100%;
                padding: 0.25rem 0;
            }
        }
    }
}

// ----- Burger menu ----- //
.burger-menu {
    position: relative;
    display: block;
    height: 50px;
    width: 50px;
    cursor: pointer;

    @include media-breakpoint-up(sm){
        display: none;
    }

    &.open {
        .line {
            &:first-of-type {
                top: 48%;
                transform: translate(-50%, -50%) rotate(45deg);
            }

            &:nth-of-type(2){
                width: 0;
            }

            &:last-of-type {
                top: 48%;
                transform: translate(-50%, -50%) rotate(-45deg);
            }
        }
    }

    .line {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 2px;
        width: 24px;
        background-color: $jaguar;
        transition: all 0.1s ease-in-out;

        &:first-of-type {
            top: 38%;
        }

        &:last-of-type {
            top: 62%;
        }
    }
}
// ----- Burger menu (END)----- //

// ----- Navigation ----- //
.header {
    .header--inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;

        .navigation {
            position: fixed;
            right: 0;
            top: 50px;
            z-index: 10;
            background-color: #fff;
            width: 100%;
            height: calc(100% - 50px);
            transform: translateX(100%);
            transition: transform 0.2s ease-in-out;

            &.open {
                transform: translateX(0);
            }

            @include media-breakpoint-up(sm){
                position: static;
                top: auto;
                right: auto;
                width: auto;
                height: 100%;
                transform: none;
            }

            ul {
                display: flex;
                flex-direction: column;
                list-style: none;
                height: 100%;
                margin-bottom: 0;
                padding: 0;

                @include media-breakpoint-up(sm){
                    flex-direction: row;
                }

                li {
                    text-align: center;
                    height: 50px;

                    a {
                        position: relative;
                        display: inline-flex;
                        justify-content: center;
                        align-items: center;
                        height: 100%;
                        padding: 0 1rem;
                        font-size: 16px;
                        width: 100%;

                        @include media-breakpoint-up(sm){
                            font-size: 14px;
                            width: auto;
                            margin-left: 0.5rem;
                        }

                        &.active {
                            color: $punch;

                            @include media-breakpoint-up(sm){
                                color: $jaguar;
                                transform: none;
                            }

                            &:after {
                                @include media-breakpoint-up(sm){
                                    transform: none;
                                }
                            }
                        }

                        &:hover {
                            &:after {
                                @include media-breakpoint-up(sm){
                                    transform: scale(1);
                                }
                            }
                        }

                        &:after {
                            content: '';
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            height: 2px;
                            width: 100%;
                            background-color: $punch;
                            transform: scale(0);
                            transition: transform 0.2s ease;
                        }
                    }
                }
            }
        }
    }
}
// ----- Navigation (END)----- //
