.upload-overlay {
    &.overlay {
        position: absolute;
        left: 1rem;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 5;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(255,255,255,0.9);
        padding: 1rem;
    }

    .overlay--inner {
        position: relative;
        width: 100%;
    }

    .optimising-message--container {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);

        span {
            display: block;
            position: relative;

            &:after {
                position: absolute;
                content: "\2026";
                display: inline-block;
                overflow: hidden;
                vertical-align: bottom;
                -webkit-animation: ellipsis steps(4,end) 900ms infinite;
                animation: ellipsis steps(4,end) 900ms infinite;
                width: 0;
            }
        }
    }

    .download-button--container {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);

        .reset {
            font-size: 14px;
            text-decoration: underline;
            color: $silver_chalice;
            cursor: pointer;
            white-space: nowrap;
        }
    }
}
