.drag-and-drop {
    height: 100%;
}

.drag-and-drop {
    .drag-and-drop--box {
        position: relative;
        background-color: $gallery;
        height: 100%;
        cursor: pointer;
    }
}

.drag-and-drop {
    .drag-and-drop--overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        pointer-events: none;

        &.active {
            background-color: rgba($black, 0.15);
        }
    }
}

.drag-and-drop {
    .drag-and-drop--info {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;

        h3 {
            font-weight: 400;
            font-size: 1rem;
            text-align: center;
            color: $silver_chalice;
            margin-bottom: 0;
            padding: 0 1rem;
        }
    }
}

.drag-and-drop {
    .drag-and-drop--inner {
        display: flex;
        flex-wrap: wrap;
        align-content: baseline;
        height: 100%;
        padding: 0.5rem;

        .image-container {
            position: relative;
            flex-basis: 33.33333%;
            height: 25%;
            padding: 0.5rem;
            cursor: pointer;

            &:hover {
                .overlay {
                    display: flex;
                }
            }

            .overlay {
                position: absolute;
                top: 0.5rem;
                bottom: 0.5rem;
                left: 0.5rem;
                right: 0.5rem;
                display: none;
                justify-content: center;
                align-items: center;
                background-color: rgba($white, 0.7);

                p {
                    font-size: 0.9rem;
                    text-transform: uppercase;
                    margin-bottom: 0;
                }
            }

            .image {
                background-position: center;
                background-size: cover;
                height: 100%;
            }
        }

    }
}

.drag-and-drop {
    .progress-bar--container {
        display: flex;
        align-items: center;
        margin-top: 0.5rem;

        .progress-bar {
            position: relative;
            flex-basis: 90%;

            .track {
                position: absolute;
                height: 4px;
                width: 100%;
                background-color: $gallery;
                border-radius: 5px;
            }

            .progress {
                position: absolute;
                height: 4px;
                width: 0;
                background-color: green;
                border-radius: 5px;
                transition: width 0.1s linear;
            }
        }

        .percentage {
            flex-basis: 10%;
            padding: 0 1rem;
            text-align: center;
        }
    }
}

.drag-and-drop {
    .drag-and-drop--upload-button {
        display: flex;
        align-items: center;
        margin-top: 1rem;

        &.disabled {
            cursor: not-allowed;
        }

        button {
            &.disabled {
                pointer-events: none;

            }
        }
    }
}
