$gallery:           #efefef;
$silver_chalice:    #9E9E9E;
$scorpion:          #5D5D5D;
$mineshaft:         #262626;
$jaguar:            #0D0221;
$deepcove:          #0F084B;
$bayofmany:         #26408B;
$sinbad:            #A6CFD5;
$jagged_ice:        #C2E7D9;
$red:               #e20000;
$punch:             #dc3545;
$persimmon:         #FF5C5C;
$chateau_green:     #2EBF4F;
